/* regole generali */
* {
    margin: 0;
}

/* regole banner logo */
#header-logo {
    background-image: url(../img/pattern.png);
    background-size: 300px;
    background-color: #4ea0ff;
    height: 80px;
}

#header-logo img {
    width: 200px;
    margin-top: 30px;
}

/* regole intestazione */
h1 {
    font-size: xx-large;
}

.header-subtitle {
    color: #8f8c8c;
}

#booleaner {
    color: #91d5f2;
}

.captions {
    font-size: smaller;
}

/* regole main  */

.highlight {
    background-color: rgba(255, 255, 0, 0.5);
}

table {
    border-spacing: 0;
}

.left-columns {
    width: 300px;
}

thead {
    color: white;
    background-color: #20a9e5;
}

table tr:nth-child(even) {
    background-color: #b1e5f2;

}


